.slot--container:has(.slot-disabled) {
  border-radius: 0;
  padding: 0;
}

.slot--container {
  display: flex;
  height: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 2px;

  .slot {
    cursor: pointer;
    flex: 1;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    padding: .5em;

    .slot--name {
      font-weight: 600;
      margin-bottom: .5em;
    }

    .slot--schedule {
      font-size: .9em;
      font-weight: 300;
    }
  }
  
  .available {
    color: green;
    background-color: #dbf5e7;
  }
  
  .booked {
    color: red;
    background-color: #f5dbdb;
  }

  .slot-disabled {
    background-color: #e5e5f7;
    opacity: 0.4;
    background: repeating-linear-gradient( -43deg, #c2c2c2, #c2c2c2 3px, #e5e5f7 5px, #e5e5f7 6px );
    cursor: default;
    border-radius: 0;
  }
}